.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*rgb(9, 145, 224)*/
.App-header {
  background: linear-gradient(to bottom, #282828, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0ad443;
}

.App-title {
  color: rgb(9, 145, 224);
  font-size: 115px;
  margin: 10% 0% 0%;
  padding: 0px;
}

.App-button {
  background-color: #ffff;
  height: 50px;
  width: 100px;
  box-shadow: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
